body{
  font-family:"Heletiva", sans-serif;
}
.list{
    max-width: 400px;
    border: 5px dashed rgb(44, 19, 85);
}

.list div:nth-child(2n){ 
    background-color: rgba(193, 190, 236, 0.801);
  }
.list div:nth-child(2n+1){ 
    background-color: rgba(102, 109, 167, 0.753);
  }