body{
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    padding:2mm;
    margin: 0 auto;
    width: 600px;
    background: #FFF;
    font-family: 'Monaco', sans-serif;
}
input{
    margin:20px;
}
.listTitle{
    background: #EEE;
}
.itemName{
    float: left;
    width: 200px;
}
button{
    margin:5px;
}
.itemQuantity{
    position: relative;
    left: 225px;
    width: 200px;
}

li{
    margin:15px;
}