body {
    font-family:"Heletiva", sans-serif;
    font-size: large;
    color: #93B1C6;

    border: 5px solid #C7D0D5;
    background-color: #F5F5F5;
    text-align: center;
}
.header {
    font-family:"Neue", sans-serif;
    color: rgb(91, 125, 150);
}
.form {
    font-family:"Neue", sans-serif;
    color: rgb(1, 9, 15);
}
.wordList {
    font-family: "Univers", sans-serif;
    color: #FF7148;
}
